* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #c1e1ff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    position: relative;
    width: 1175px;
    height: auto;
    padding: 49px 73px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
        white 5%,
        #fefefe 10%,
        #f6f4f4 30%,
        #dedcdc 100%
    );
    opacity: 80;
    border-radius: 30px;
    box-shadow: 3px 4px 2px #22539f;
}

.box img {
    align-items: center;
    width: 783px;
    height: 74px;
    margin-bottom: 43px;
}

.box h1 {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 3px;
    color: #22539f;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 25.61px;
    width: 100%;
}

.box form {
    width: 100%;
}

.inputs label {
    margin-bottom: 47px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #22539f;
}

.inputs input {
    height: 85.18px;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    border: 3px solid #22539f;
    font-size: 30px;
    padding-left: 38.5px;
    padding-right: 38.5px;
    width: 100%;
}

.inputs input::placeholder {
    font-size: 30px;
    font-weight: 500;
    columns: #959595;
    letter-spacing: 1px;
}

.hide {
    position: relative;
    width: 100%;
}

.show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    width: 36.92px;
    height: 40.02px;
    color: #22539f;
    cursor: pointer;
    background-image: url(../images/eye-slash.png);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.hide-pass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    width: 36.92px;
    height: 40.02px;
    color: #22539f;
    cursor: pointer;
    background-image: url(../images/eye.png);
}

.p-details {
    margin-top: 45px;
    margin-bottom: 10px;
}

form .p-details .category {
    display: flex;
    width: 100%;
    gap: 119px;
}

.p-details input {
    position: absolute;
    opacity: 0;
}

.p-details .category label {
    display: flex;
    align-items: center;
}

.p-details .category .dot {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 5px solid #22539f;
    background-color: white;
    margin-right: 39px;
    transition: 0.1s;
}

.details {
    font-size: 35px;
    font-weight: bold;
    color: #22539f;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
    border: 25px solid #22539f;
}

.container button {
    margin-top: 59px;
    margin-bottom: 90px;
    width: 498px;
    height: 83px;
    background-color: #3171d3;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container button:hover {
    color: black;
}

#step1-form .error-message {
    color: red;
    font-weight: bold;
    margin-top: 11.61px;
    font-size: 20px;
}
